<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="shoppingCart$">
  <p>
    You have {{ shoppingCart$.totalItemCount}} items in your shopping cart.
  </p>  
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="sc-quantity-col-header text-center">Quantity</th>
        <th class="sc-price-col-header text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingCart$.items">
        <ng-container *ngIf="item.quantity > 0">
          <td>
            <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail" ></div>  
          </td>
          <td>{{item.product.title}}</td>
          <td>
            <product-quantity [product]="item.product" [shopping-cart]="shoppingCart$"></product-quantity>
          </td>
          <td class="text-right">{{item.totalPrice | currency:'USD':'symbol':'0.2'}}</td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>Total Price:</th>
        <th class="text-right">{{ shoppingCart$.totalPrice | currency:'USD':'symbol':'0.2'}}</th>
      </tr>
    </tfoot>
  </table>
  <button 
    (click)="clearCart()"
    class="btn btn-danger btn-sm">Clear Shopping Cart</button>
</div>
